:root {
    --primary-font-- : 'Yusei Magic', sans-serif;
    --primary-color-- : #ffffff ;
}

.proyect {
    width: 50%;
    margin: auto;
    border-radius: 40px;
    padding: 20px;
}

.proyect__container p {
    font-size: 20px;
}

.proyect__img {
    width: 100%;
    height: 100%;
}

.proyect__img svg {
    width: 100%;
    height: 100%;
}

.proyect__code {
    margin-top: 10px;
    display: flex ; 
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 15px;
}

.proyect__code a {
    text-decoration: none;
    color : var(--primary-color--) ;
}

.proyect__code > a > span {
    margin-left: 5px;
}