:root {
    --primary-font-- : 'Yusei Magic', sans-serif;
}

/* STILOS DE LA CARD
    DATOS
*/

.card {
    background: red;
    color: #ffffff;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    margin-top: -650px;
}

/*
    SOLO ES EL PADDIN DEL DE ARRIBA
*/

.data {
    padding: 20px;
}

/*
    ES EL STATE QUE LE PASE 
*/

.data h1 {
    text-align: center;
    font-family: var(--primary-font--);
}

/*
    ES LO QUE HAGO
*/

.data p {
    background: blue;
    width: 30%;
    border-radius: 100px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: var(--primary-font--);
    color: #ffffff;
}

/*
    ICONOS DEL PROGRAMER
*/

.data svg {
    height: 20px;
}